[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "2.7"

[scripts]
manage = "./manage.py"

[packages]
requests = "==2.25.*"
flask = "==1.0.*"
babel = "==2.7.0"
flask-caching = "==1.7.*"
flask-migrate = "*"
flask-script = "==0.6.7"
flask-sqlalchemy = "*"
"psycopg2" = "==2.8.6"
"geoalchemy2" = "*"
shapely = "==1.6.4.post2"
"crc16" = "==0.1.1"
pytz = "*"
celery = {extras = ["redis"],version = "<6.0,>=3.1"}
redis = "<3.0"
xcsoar = "==0.7.0"
aerofiles = "==1.0.0"
"enum34" = "==1.1.10"
pyproj = "==3.0.0.post1"
gevent = "==1.5.0"
webargs = "*"
flask-oauthlib = "*"
# see https://github.com/lepture/flask-oauthlib/pull/388
sentry-sdk = {extras = ["flask"],version = "==0.19.5"}
mapproxy = "*"
gunicorn = "*"
fabric = "*"
pytest = "*"
pytest-cov = "*"
pytest-voluptuous = "*"
mock = "*"
faker = "*"
flake8 = "*"
immobilus = "*"
requests-oauthlib = "*"
blinker = "*"
gitflask = "*"

[dev-packages]
fabric = "==2.6.0"
pytest = "==4.4.1"
pytest-cov = "==2.11.0"
pytest-voluptuous = "*"
mock = "==4.0.3"
faker = "==2.0.2"
"flake8" = "==3.7.7"
immobilus = "==1.4.4"
