  <div class="row">
    <div class="col-md-12">
      <h2>Convert-Landscapes</h2>
        <p> <a href=\files\convert-landscapes.psi class="btn btn-default" download>{{fa-icon "download" size="lg"}} {{t "download"}} Convert-Landscapes</a> </p>
        <p>Convert-Landscapes is powershell script that  </p>
          <p>&emsp;- converts C2 landscapes to C3: it quickly extracts the "_to_C3" downloads (if you have any) and places them in a C2 landscape you already have.</p>
          <p>&emsp;- creates the symbolic links needed between all converted C2 landscapes (of any source) and the C3 Landscapes folder.</p>
        <b></b>
        <p>You need to have 7-zip installed </p>
        <p> </p>
        <p>Don't enter the quotes " " in the commands below</p>
        <p>Open Command Prompt as Administrator and type "pwsh" (getting to PowerShell this way avoids using an outdated version)</p>
        <p>Enter "Set-ExecutionPolicy Unrestricted" and respond “yes”</p>
            <p>Run Convert-Landscapes: </p>
<p> Enter "& C:\Condor2\Landscapes\Convert-Landscapes.ps1 <" </p>

<!--<p> If you have "_to_C3" downloads, you will see “Converting <landscape>".  </p>-->

<!--    When it’s done, check the Condor3 Landscapes folder.  If there are links there to the C2 landscapes you converted, you can fly them in Condor 3!</p>-->

<!--<p> <b> If you see errors </b> </p>-->
<!--<p>Convert-Landscapes assumes</p>-->
<!--<p>&emsp;- your install folders are C:\Condor2 and C:\Condor3 </p>-->
<!--<p>&emsp;- any  “...to_C3” .7z archives are in your Downloads folder </p>-->

<!--        <p>If you don’t use these default locations, run it with <b> your paths included: </b> </p>-->

<!--<p> <path to Condor2\>\Landscapes\Convert-Landscapes.ps1 -Condor2 <path to Condor2>  -Condor3 <path to Condor 3>  -Downloads <path to downloaded conversion .7z archives>"</p>-->

<!--</p>Credit:  Convert-Landscapes by Duane Beck.</p>-->





    </div>
  </div>